<template>
	<view class="resultbg" :style="{backgroundImage:'url(' + bg + ')',}">
		<view class="result-contanier">
			<image style="width: 466rpx;height: 134rpx;" :src="IMGURL.DIOR" mode=""></image>
			<view class="font" style="height: 50rpx;">
				<p :class="{'c-black':gender == 2,'c-white':gender == 1}">是专属于你的气息烙印</p>
			</view>
			<view class="result-main-m" v-if="gender == 1" style="color: #d6a651;">
				<!-- 	<view class="bottle-bg">
					<image style="width: 263rpx;height: 493rpx;" :src="IMGURL.male1" mode=""></image>
				</view> -->
				<view class="jiantou jiantou1">
					<view class="ww text-c">
						<text class="f-70">{{resultPer[0]}}%</text><br/>
						<text class="f-40">{{resultWords[0]}}</text>
					</view>
					<image style="width: 158rpx;height: 102rpx;" :src="IMGURL.jiantou1" mode=""></image>
				</view>
				<view class="jiantou jiantou2">
					<view class="ww text-c">
						<text class="f-70">{{resultPer[1]}}%</text><br/>
						<text class="f-40">{{resultWords[1]}}</text>
					</view>
					<image style="width: 151rpx;height: 106rpx;" :src="IMGURL.jiantou2" mode=""></image>
				</view>
				<view class="jiantou jiantou3">
					<image style="width: 125rpx;height: 136rpx;" :src="IMGURL.jiantou3" mode=""></image>
					<view class="ww text-c">
						<text class="f-70">{{resultPer[2]}}%</text><br/>
						<text class="f-40">{{resultWords[2]}}</text>
					</view>
					
				</view>
				<view class="jiantou jiantou4">
					<image style="width: 150rpx;height: 99rpx;" :src="IMGURL.jiantou4" mode=""></image>
					<view class="ww text-c">
						<text class="f-70">{{resultPer[3]}}%</text><br/>
						<text class="f-40">{{resultWords[3]}}</text>
					</view>
					
				</view>
			</view>
			<view class="result-main-m" v-if="gender == 2"  style="color: #ffffff;">
				<view class="jiantou fjiantou1">
					<view class="ww text-c">
						<text class="f-70">{{resultPer[0]}}%</text><br/>
						<text class="f-40">{{resultWords[0]}}</text>
					</view>
					<image style="width: 164rpx;height: 94rpx;" :src="IMGURL.jiantou1" mode=""></image>
				</view>
				<view class="jiantou fjiantou2">
					<view class="ww text-c">
						<text class="f-70">{{resultPer[1]}}%</text><br/>
						<text class="f-40">{{resultWords[1]}}</text>
					</view>
					<image style="width: 115rpx;height: 142rpx;" :src="IMGURL.jiantou2" mode=""></image>
				</view>
				<view class="jiantou fjiantou3">
					<image style="width: 110rpx;height: 100rpx;" :src="IMGURL.jiantou3" mode=""></image>
					<view class="ww text-c">
						<text class="f-70">{{resultPer[2]}}%</text><br/>
						<text class="f-40">{{resultWords[2]}}</text>
					</view>
					
				</view>
				<view class="jiantou fjiantou4">
					<image style="width: 120rpx;height: 100rpx;" :src="IMGURL.jiantou4" mode=""></image>
					<view class="ww text-c">
						<text class="f-70">{{resultPer[3]}}%</text><br/>
						<text class="f-40">{{resultWords[3]}}</text>
					</view>
					
				</view>
			</view>
			<view class="pos" :class="{'btn':gender == 1,'btnf':gender == 2}" @click="goproduct">即刻购买 专属气息</view>
			<view class="pos1" :class="{'btn':gender == 1,'btnf':gender == 2}" @click="showApply(true)">即刻申领 爱意好礼</view>
		</view>
		
		<view class="popup"  v-if="ishowApply">
			<view :class="{'popmain':gender == 1,'fpopmain':gender == 2}">
				<view @click="showApply(false)" class="close">
					<image style="width: 35rpx;height: 35rpx;" src="https://iscgoldenweek.gypserver.com/dior/images/close.png" mode=""></image>
				</view>
				<view class="btnf mb-40">线上付邮申领</view>
				<view class="btnf" @click="showInfo(true)">线下免费申领</view>
			</view>
		</view>
		
		<view class="popup"  v-if="isshowinfo" >
			<view :class="{'userinfo':gender == 1,'fuserinfo':gender == 2}">
				<view @click="showInfo(false)" class="close">
					<image style="width: 35rpx;height: 35rpx;" src="https://iscgoldenweek.gypserver.com/dior/images/close.png" mode=""></image>
				</view>
				<view class="userinfo-main">
					<view class="input" :class="{'bf':gender == 1,'fbf':gender == 2}">
						<text>您的姓名：</text>
						<input class="inner" v-model="name" type="text" value="" />
					</view>
					<view class="input" :class="{'bf':gender == 1,'fbf':gender == 2}">
						<text>联系电话：</text>
						<input  class="inner" v-model="mobile" type="digit" maxlength="11" value="" />
					</view>
					<view class="input" :class="{'bf':gender == 1,'fbf':gender == 2}">
						<view class="section" :class="{'br-black':gender == 1,'br-pink':gender == 2}">
							<text>省份</text>
							<view @click="showProvince()" class="select" type="text" value="" >{{province}}</view>
							<w-picker style="color: #999999;"
								ref="province"
								level="1"
							    mode="selector"
							    :selectList="provinceData"
							    @confirm="onPConfirm"
								:themeColor="themeColor"
							></w-picker>
							<image class="triangle" style="width: 32rpx;height: 16rpx;" :src="IMGURL.triangle" mode=""></image>
						</view>
						<view class="section"   style="padding-left: 35rpx;">
							<text>城市</text>
							<!-- <input  class="select" type="text" value="" /> -->
							<view @click="showCity()" class="select" type="text" value="" >{{city}}</view>
							<w-picker style="color: #999999;"
								ref="city"
								level="1"
							    mode="selector"
							    :selectList="cityData"
							    @confirm="onCConfirm"
								:themeColor="themeColor"
							></w-picker>
							<image class="triangle" style="width: 32rpx;height: 16rpx;" :src="IMGURL.triangle" mode=""></image>
						</view>
					</view>
					<view class="input"  :class="{'bf':gender == 1,'fbf':gender == 2}">
						<text >申领柜台：</text>
						<view @click="showss()" class="inner" type="text" value="" >{{counter}}</view>
						<w-picker style="color: #999999;"
							ref="picker"
							level="1"
						    mode="selector"
						    :selectList="array"
						    @confirm="onConfirm"
							:themeColor="themeColor"
						></w-picker>
						<!-- <picker @change="bindPickerChange" :value="index" :range="array">
							<view class="inner">{{array[index]}}</view>
						</picker> -->
					</view>
					<text class="f-25 mt-20" :class="{'c-black':gender == 1,'c-pink':gender == 2}">*填写柜台需与实际领取柜台保持一致</text>
					<view :class="{'ystext':gender == 1,'fystext':gender == 2}">
						<view class="checkbox" @click="check">
							<view v-show="ischecked" class="actived"></view>
						</view>
						<text @click="showyszc(true)">我已阅读了解并同意<text :class="{'underline':gender == 1,'funderline':gender == 2}">DIOR迪奥隐私政策</text></text>
					</view>
					<view @click="submit()" :class="{'submitbtn':gender == 1,'fsubmitbtn':gender == 2}">
						提交信息
					</view>
				</view>
			</view>
		</view>
		
		<view class="popup"  v-if="ishowyszc" >
			<view scroll-y="true" class="yszc-main">
				<image style="width: 299rpx;height: 221rpx;" src="https://iscgoldenweek.gypserver.com/dior/images/ystk.png" mode=""></image>
				<scroll-view class="ystk-text" scroll-y="true" >
					本个人信息保护政策（以下简称“隐私政策”）适用于由尚圃电子商务(上海)有限公司、路威酩轩香水化妆品（上海）有限公司经营的Parfums Christian Dior以及由克丽丝汀迪奥经营的Christian Dior Couture（以下统称为“Dior”或“我们”）在您访问、浏览或使用Dior官方网站www.dior.cn（以下简称“网站”）或通过网站与您互动时所收集的所有个人信息。请阅读以下隐私政策，以了解您向我们提供及共享的个人信息、我们将如何收集、使用、保存并保护您提供给我们的个人信息、您如何管理该等个人信息以及如何与我们就个人信息进行联系。通过访问本网站或使用我们的任一服务，即表示您充分理解和同意接受本隐私政策的全部内容，并且信赖我们对您提供并共享的个人信息的使用和处理方式。Dior尊重您的隐私，并将尽力确保您的个人信息得到妥善保护。
					<view class="mt-20"><br/></view>本隐私政策详细描述了Dior收集和使用个人信息的方式，以及您对个人信息所享有的权利
					<view class="mt-20"><br/></view>因此，为了尊重和保护网站用户（以下简称“用户”）的隐私，Dior承诺在网站内收集和处理的信息均遵守所有适用于个人信息保护的法律及法规的有关要求。
					<view class="mt-20"><br/></view>本隐私政策是网站一般使用条款的补充部分，您可以阅读该条款以了解与网站使用有关的更多信息。
					<view class="mt-20"><br/></view>条款1 - 所收集数据范围和方式
					<view class="mt-20"><br/></view>Dior可能会收集和处理有关您的以下信息，进行以下条款2中所描述的用途，并且是为了向您提供服务所必需。这些均是您自愿提供的信息
					<view class="mt-20"><br/></view>•	联络信息，包括姓名、地址、电话号码或电邮地址；
					<view class="mt-20"><br/></view>•	支付信息；
					<view class="mt-20"><br/></view>•	您在公开场合、或我们的社交媒体页面、或我们的网站上发表的公开信息，例如对某一产品的评论；
					<view class="mt-20"><br/></view>•	人口统计信息，例如您的性别以及生日；
					<view class="mt-20"><br/></view>•	您的购买信息，包括您所购买的产品及其价格。
					<view class="mt-20"><br/></view>•	您访问本网站的详细信息，包括流量数据、 位置数据、 网络日志与其他通信数据
					<view class="mt-20"><br/></view>在下列的情况下，Dior会要求您提供您的个人资料:
					<view class="mt-20"><br/></view>•	在网站建立一个账户或要求订阅我们的通讯而登记您的个人资料；
					<view class="mt-20"><br/></view>•	购买产品；
					<view class="mt-20"><br/></view>•	参与推广活动或网站提供的其他功能；
					<view class="mt-20"><br/></view>•	要求获取产品目录；
					<view class="mt-20"><br/></view>•	要求接收任何促销、 推广或其他类型的通信；
					<view class="mt-20"><br/></view>•	通过我们的客户服务中心作出查询或提出意见。
					<view class="mt-20"><br/></view>•	当您通过网站的“职业生涯”页面（以下简称“求职页面”）应聘Dior的工作岗位时，我们也会收集与您相关的个人信息。
					<view class="mt-20"><br/></view>条款2 - 所收集数据的用途
					<view class="mt-20"><br/></view>Dior将负责对所收集的信息进行自动化处理，主要用于：
					<view class="mt-20"><br/></view>•	使我们更清楚地了解您的兴趣、 关注和喜好；
					<view class="mt-20"><br/></view>•	向用户发送信息，特别是网站的电子通讯和促销信息，包括由路威酩轩香水化妆品（上海）有限公司及/或克丽丝汀迪奥商业（上海）有限公司发送的化妆品、香氛、皮具、时装等产品的店铺开业、产品发布、活动、 网站变化、 服务更新、 特别产品与推广促销等信息；
					<view class="mt-20"><br/></view>
					<view class="mt-20"><br/></view>•	在信息发送失败的情况下与用户取得联系；
					<view class="mt-20"><br/></view>•	处理通过网站完成的订单；
					<view class="mt-20"><br/></view>•	就您的购买、账户信息或客户服务需求而与您沟通和/或更好地回答您的客户服务查询，或向您提供您要求的服务；
					<view class="mt-20"><br/></view>•	进行匿名统计和分析等活动；
					<view class="mt-20"><br/></view>•	岗位招聘（求职页面）。
					<view class="mt-20"><br/></view>我们可能通过您提供给我们的电子邮件地址或您提供给我们的其它任何联络方式就上述目的与您联络。如果您不愿意收到这些电子邮件或不愿意进行上述联系，您只需按照您收到的信息中的取消订阅指示， 或按照下文条款7的联络方式与我们联络。
					<view class="mt-20"><br/></view>条款3 - 数据保存期限
					<view class="mt-20"><br/></view>网站会将收集的数据保存一段时间，该期限不会超过所收集数据的用途所需的期限。
					<view class="mt-20"><br/></view>条款4 - 数据接收方
					<view class="mt-20"><br/></view>为了上述条款2所述的目的，我们可能会与位于中国大陆境内或境外的关联公司分享您的个人信息。另外，为了运营本网站或提供服务，我们还可能将您的个人信息在必要范围内提供给我们的合作伙伴、服务提供商、供货商以及其他支持或协助我们提供相关产品和服务的第三方，无论其位于中国大陆境内或境外。
					<view class="mt-20"><br/></view>另外，如果我们认为，为执行我们的服务条款或为保护另一Dior的客户、公众或Dior的权利、财产或人身安全，有必要披露您的个人资料，我们将披露您的个人资料。
					<view class="mt-20"><br/></view>请注意，我们亦可以使用海外设施处理或备份资料。因此，我们可能将您的个人资料转移到我们的海外设施作存储。但是，这样做并不会改变我们对保护您的隐私权所作的承诺。
					<view class="mt-20"><br/></view>除本隐私政策另行规定以外， 我们只会在下列的情况下未经您允许而披露特定的资料：因法律要求而披露该等资料；或者，我们诚实地认为，为调查针对我们的客户、使用者、关联方或财产（包括本网站）或他人所进行的可疑刑事活动，或为确保其免受该等活动的损害，有必要披露该等资料。
					<view class="mt-20"><br/></view>条款5 - 数据安全与保密
					<view class="mt-20"><br/></view>Dior已采用了多种有效预防措施，以尽力确保所收集个人信息的保密和安全，并防止信息篡改、毁损、丢失或被未经授权的第三方访问。
					<view class="mt-20"><br/></view>但是， 本网站的使用者须注意， 由于互联网的开放性质， 我们无法保证我们服务器上存储的、 或在使用者之间传送的您的任何个人资料不会被未获准许地查阅， 并且， 我们声明， 如果任何数据或通信被盗窃或丢失、 未获准许地被查阅或受损， 或被截取， 我们对此不承担任何责任。 通过使用本网站， 即表示您确认您理解并同意承担这些风险。
					<view class="mt-20"><br/></view>除非事先取得您的同意， 否则， 我们不会向上文第4条所述的任何第三方出租、 交易、 分发或出售您提供给我们的任何个人资料。
					<view class="mt-20"><br/></view>条款6 - COOKIES/ 数据统计
					<view class="mt-20"><br/></view>6.1 - Cookies
					<view class="mt-20"><br/></view>对于本网站的使用者，请注意，我们可以在您的计算机上存入“cookies”，以便对您进行识别。 Cookies是指在浏览期间从一个服务器计算机上发送的小型数据文本档案。Cookies通常储存在计算机硬盘上，网站用 cookies 来模拟与网站之间的持续连接。我们已经采取了相关的安全措施，以防止未获准许地查阅用户的数据。但是， 用户确认， Dior并不能控制电子通信设施（ 包括互联网） 上的数据转移。因此，Dior不会就互联网上发生的该等数据的安全漏洞或未获准许的披露或使用承担任何责任。您可以将您的浏览器设置成拒绝接受 cookies，但这样做可能会使您无法充分利用本网站上的服务。
					<view class="mt-20"><br/></view>6.2 - 数据统计
					<view class="mt-20"><br/></view>为了使网站的内容与服务能够更贴合用户需求， Dior会统计用户的浏览次数、访问页面数量、网站浏览活动以及回访频率。为了完成此类访问分析， Dior会使用不同的分析工具。该工具可用来分析网站的访问状况。
					<view class="mt-20"><br/></view>条款7 - 存取、拒绝和修改的权限
					<view class="mt-20"><br/></view>您有权查阅、更正、修改（出于合法目的）或反对与您个人信息有关的处理操作。如果您需要查阅、更正、修改（出于合法目的）您的个人信息，您可以Dior官网（www.dior.cn）或者通过Dior客服中心进行。如果您需要删除您的个人信息，您可联络以下相关部门，以行使这项权利，除非我们因法律原因而需要保存该等资料：
					<view class="mt-20"><br/></view>Dior客服服务中心： 4009218833，适用于路威酩轩香水化妆品（上海）有限公司，或4001226622，适用于克丽丝汀迪奥商业（上海）有限公司。
					<view class="mt-20"><br/></view>请理解，为防止假冒，在操作您的个人信息前我们需要核实您的身份。一旦核实我们将在合理的期限内回复您的请求。
					<view class="mt-20"><br/></view>条款8 - 直接营销
					<view class="mt-20"><br/></view>我们有意使用您的个人信息向您发送有关我们产品和服务的活动、特别产品和营销资料。我们可能为直接促销的目的，与我们提供上述产品和服务的关联公司、合作伙伴、服务提供商或其他支持或者协助我们提供相关产品和服务的第三方（无论位于中国大陆境内或境外）分享您的个人信息。您对本隐私政策的接受也包括了您同意根据本隐私政策接收来自我们（包括路威酩轩香水化妆品（上海）有限公司及/或克丽丝汀迪奥商业（上海）有限公司）以及我们的合作伙伴发送的营销信息。如果您不希望我们以这种方式使用您的个人信息或为了促销目的与第三方分享您的个人信息，请按照上述条款7提供的联络方式与我们取得联系。
					<view class="mt-20"><br/></view>条款9 - 公司控制权变更时的数据转移
					<view class="mt-20"><br/></view>在出现公司控制权变更或公司资产或业务被转让的情况下， Dior收集的个人信息可能会被转移
					<view class="mt-20"><br/></view>条款10 - 儿童隐私权
					<view class="mt-20"><br/></view>如果您未满18岁，您只能在父母或监护人的参与下使用本网站而且不应向我们提交任何个人资料。
					<view class="mt-20"><br/></view>条款11- 本隐私政策的修改
					<view class="mt-20"><br/></view>Dior有权在不预先通知的情况下，随时修改本隐私政策的内容。在这种情况下，Dior会通过在网站上发布更新版本的方式通知您。自该隐私政策更新版本发布之日起，如您仍继续使用网站或我们的服务，即表示您同意受经修订的隐私政策的约束。
				</scroll-view>
				<view class="ystkbtn" @click="showyszc(false)">已阅读</view>
			</view>
		</view>
	
		<view class="popup" v-if="isshowMsg">
			<view :class="{'popmsg':gender == 1,'fpopmsg':gender == 2}">
				<view @click="closeMsg()" class="close">
					<image style="width: 35rpx;height: 35rpx;" src="https://iscgoldenweek.gypserver.com/dior/images/close.png" mode=""></image>
				</view>
				<text class="f-36">短信已发送至</text>
				<text class="f-36">{{mobile}}</text>
				<text class="f-25 mt-70">请注意查收</text>
				<text class="f-25 mt-15">并亲临门店领取爱意好礼</text>
			</view>
		</view>
	</view>
</template>

<script>
	import {provinceData} from "@/components/w-picker/city-data/province.js"
	import {cityData} from "@/components/w-picker/city-data/city.js"
	import wPicker from "@/components/w-picker/w-picker.vue";
	import {userApplySave} from "@/pages/common/request.js"
	let reg = /^[1][3|4|5|6|7|8|9][0-9]{9}$/
	export default{
		components:{
			wPicker
		},
		data(){
			return{
				bg:getApp().globalData.IMGURL.rbg,
				gender:getApp().globalData.gender,
				IMGURL:getApp().globalData.IMGURL,
				ishowApply:false,
				ischecked:false,
				ishowyszc:false,
				isshowinfo:false,
				index:0,
				counter:'',
				array:[{
					label:"柜台1",value:"柜台1"
				},{
					label:"柜台2",value:"柜台2"
				},{
					label:"柜台3",value:"柜台3"
				}],
				themeColor:'#000000',
				resultWords:getApp().globalData.resultWords,
				resultPer:[],
				provinceData:[],
				province:'',
				cityData:[],
				city:'',
				name:'',
				mobile:'',
				isshowMsg:false
			}
		},
		mounted() {
			this.provinceData = provinceData.concat()
			let A = Math.floor(Math.random() * 25 + 10)
			let B = Math.floor(Math.random() * 25 + 10)
			let C = Math.floor(Math.random() * 25 + 10)
			let D = 100 - A - B - C
			this.resultPer.push(A,B,C,D)
			// if(this.gender == 1){
			// 	this.themeColor = "#000000"
			// }else{
			// 	this.themeColor = "#000000"
			// }
		},
		methods:{
			closeMsg(){
				this.isshowMsg = false
			},
			showss(){
				this.$refs.picker.show()
			},
			showProvince(){
				this.$refs.province.show()
			},
			showCity(){
				if(this.province == null || this.province == ""){
					uni.showToast({
					    title: '请先选择省份',
					    duration: 2000,
						icon:'none'
					});
				}else{
					this.$refs.city.show()
				}
				
			},
			goproduct(){
				uni.redirectTo({
					url:"/pages/product/product"
				})
			},
			showApply(is){
				this.ishowApply = is
			},
			check(){
				this.ischecked = !this.ischecked
			},
			showyszc(is){
				console.log(is)
				this.ishowyszc = is
				if(is){
					this.isshowinfo = false
					// this.ischecked = true
				}else{
					this.isshowinfo = true
				}
			},
			showInfo(is){
				this.isshowinfo = is
				if(is){
					this.ishowApply = false
				}else{
					this.ishowApply = true
				}
				
			},
			onConfirm(e){
				this.counter = e.result
			},
			onPConfirm(e){
				this.province = e.result
				this.cityData = cityData[e.defaultVal]
			
			},
			onCConfirm(e){
				this.city = e.result
			},
			submit(){
				if(this.name == '' || this.name == null){
					uni.showToast({
					    title: '请输入您的姓名',
					    duration: 2000,
						icon:'none'
					});
				}else if(!reg.test(this.mobile)){
					uni.showToast({
					    title: '您的联系电话格式不正确',
					    duration: 2000,
						icon:'none'
					});
				}else if(this.province == null || this.province == ""){
					uni.showToast({
					    title: '请选择省份',
					    duration: 2000,
						icon:'none'
					});
				}else if(this.city == null || this.city == ""){
					uni.showToast({
					    title: '请选择城市',
					    duration: 2000,
						icon:'none'
					});
				}else if(this.counter == null || this.counter == ""){
					uni.showToast({
					    title: '请选择柜台',
					    duration: 2000,
						icon:'none'
					});
				}else if(this.ischecked == false){
					uni.showToast({
					    title: '请勾选已阅读并同意DIOR隐私条款',
					    duration: 2000,
						icon:'none'
					});
				}else{
					let obj = new Object()
					obj.name = this.name
					obj.province = this.province
					obj.city = this.city
					obj.counter = this.counter
					obj.mobile = this.mobile
					userApplySave(obj).then(res=>{
						console.log(res)
						if(res.code == '0000'){
							this.isshowMsg = true
						}
						
					})
				}
			}
		}
	}
</script>

<style lang="less">
	.yszc-main{
		width: 100%;
		height: 100%;
		background: #ffffff;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		box-sizing: border-box;

		.ystk-text{
			width: 620rpx;
			height: 780rpx;
			font-size: 18rpx;
			line-height: 32rpx;
			margin-top: 40rpx;
			margin-bottom: 60rpx;
		}
		.ystkbtn{
			width: 226rpx;
			height: 60rpx;
			border: 1px solid #000000;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 25rpx;
		}
	}
	.underline{
		height: 50rpx;
		border-bottom: 1px solid #000000;
	}
	.funderline{
		height: 50rpx;
		border-bottom: 1px solid #a34a6c;
	}
	.br-black{
		border-right: 1px solid #000000;
	}
	.br-pink{
		border-right: 1px solid #a34a6c;
	}
	.bf{
		color: #000000;
		border: 4rpx solid #000000;
	}
	.fbf{
		color: #a34a6c;
		border: 4rpx solid #a34a6c;
	}
	.close{
		position: absolute;
		top: 44rpx;
		right: 44rpx;
	}
	
	.fsubmitbtn{
		width: 228rpx;
		height: 60rpx;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 25rpx;
		color: #a34a6c;
		border-top: 4rpx solid #a34a6c;
		border-bottom: 4rpx solid #a34a6c;
		box-sizing: border-box;
		margin-top: 45rpx;
	}
	
	.submitbtn{
		width: 228rpx;
		height: 60rpx;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 25rpx;
		color: #000000;
		border-top: 4rpx solid #000000;
		border-bottom: 4rpx solid #000000;
		box-sizing: border-box;
		margin-top: 45rpx;
	}
	.userinfo-main{
		width:100%;
		height: 800rpx;
		position: absolute;
		bottom: 0;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		.input{
			width: 530rpx;
			height: 64rpx;
			margin-top: 60rpx;
			display: flex;
			flex-direction: row;
			align-items: center;
			padding-left: 35rpx;
			box-sizing: border-box;
			font-size: 30rpx;
			.inner{
				width: 320rpx;
				height: 100%;
				font-size: 26rpx;
				
				line-height: 58rpx;
			}
			.section{
				flex: 1;
				height: 80%;
				display: flex;
				flex-direction: row;
				align-items: center;
				position: relative;
				.select{
					width: 160rpx;
					height: 100%;
					padding-left: 10rpx;
					font-size: 26rpx;
					box-sizing: border-box;
					line-height:47rpx;
					white-space:nowrap;
					text-overflow:ellipsis;
					overflow:hidden;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 1;
				}
				.triangle{
					position: absolute;
					right: 25rpx;
					top: 50%;
					transform: translate(0,-50%);
				}
			}
			
		}
		.ystext{
			font-size: 25rpx;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			margin-top: 40rpx;
			color: #000000;
			.checkbox{
				width: 24rpx;
				height: 24rpx;
				border: 1px solid #000000;
				display: flex;
				justify-content: center;
				align-items: center;
				box-sizing: border-box;
				margin-right: 10rpx;
				.actived{
					width: 12rpx;
					height: 12rpx;
					background: #000000;
				}
			}
			
		}
		.fystext{
			font-size: 25rpx;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			margin-top: 40rpx;
			color: #a34a6c;
			.checkbox{
				width: 24rpx;
				height: 24rpx;
				border: 1px solid #a34a6c;
				display: flex;
				justify-content: center;
				align-items: center;
				box-sizing: border-box;
				margin-right: 10rpx;
				.actived{
					width: 12rpx;
					height: 12rpx;
					background: #a34a6c;
				}
			}
			
		}
		
	}
	.popup{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,0.75);
		display: flex;
		justify-content: center;
		align-items: center;
		// opacity: 0;
		.fpopmain{
			width: 695rpx;
			height: 428rpx;
			padding-bottom: 60rpx;
			background: url(https://iscgoldenweek.gypserver.com/dior/images/female/fpopbg.png) no-repeat;
			background-size: 100% 100%;
			display: flex;
			justify-content: flex-end;
			flex-direction: column;
			align-items: center;
			position: relative;
		}
		.popmain{
			width: 695rpx;
			height: 428rpx;
			background: url(https://iscgoldenweek.gypserver.com/dior/images/male/popbg.png) no-repeat;
			background-size: 100% 100%;
			display: flex;
			justify-content: flex-end;
			flex-direction: column;
			align-items: center;
			padding-bottom: 60rpx;
			position: relative;
		}
		.fpopmsg{
			width: 695rpx;
			height: 540rpx;
			padding-bottom: 70rpx;
			background: url(https://iscgoldenweek.gypserver.com/dior/images/female/msgs.png) no-repeat;
			background-size: 100% 100%;
			display: flex;
			justify-content: flex-end;
			flex-direction: column;
			align-items: center;
			position: relative;
		}
		.popmsg{
			width: 695rpx;
			height: 540rpx;
			background: url(https://iscgoldenweek.gypserver.com/dior/images/male/msgs.png) no-repeat;
			background-size: 100% 100%;
			display: flex;
			justify-content: flex-end;
			flex-direction: column;
			align-items: center;
			padding-bottom:70rpx;
			position: relative;
		}
		.fuserinfo{
			width: 695rpx;
			height:1085rpx;
			padding-bottom: 60rpx;
			background: url(https://iscgoldenweek.gypserver.com/dior/images/female/fuserinfobg.png) no-repeat;
			background-size: 100% 100%;
			display: flex;
			justify-content: flex-end;
			flex-direction: column;
			align-items: center;
			position: relative;
		}
		.userinfo{
			width: 695rpx;
			height: 1085rpx;
			background: url(https://iscgoldenweek.gypserver.com/dior/images/male/userinfobg.png) no-repeat;
			background-size: 100% 100%;
			display: flex;
			justify-content: flex-end;
			flex-direction: column;
			align-items: center;
			padding-bottom: 60rpx;
			position: relative;
		}
	}
	.resultbg{
		width: 100%;
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		.result-contanier{
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			// background: rgba(0,0,0,0.5);
			.result-main-m{
				width: 100%;
				height: 800rpx;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				position: relative;
				// .bottle-bg{
				// 	width:400rpx;
				// 	height: 100%;
				// 	background: url(https://iscgoldenweek.gypserver.com/dior/images/male/yy.png)  no-repeat;
				// 	background-size: 100% 100%;
				// }
				.jiantou{
					width: 200rpx;
					height: 300rpx;
					position: absolute;
					display: flex;
					flex-direction: column;
					// justify-content: flex-end;
				}
				.jiantou1{
					left: 0;
					top: 50rpx;
					align-items: flex-end;
					justify-content: space-around;
				}
				.jiantou2{
					right: 0;
					top: 0;
					align-items: flex-start;
					justify-content: space-around;
				}
				.jiantou3{
					left: 0;
					bottom: 20rpx;
					align-items: flex-end;
					justify-content: space-around;
				}
				.jiantou4{
					right: 0;
					bottom: 0;
					align-items: flex-start;
					justify-content: space-around;
				}
			
				.fjiantou1{
					left: 0;
					top: 60rpx;
					align-items: flex-end;
					justify-content: flex-end;
				}
				.fjiantou2{
					right: 0;
					top: 40rpx;
					align-items: flex-start;
					justify-content: flex-end;
				}
				.fjiantou3{
					left: 0;
					bottom: -100rpx;
					align-items: flex-end;
				}
				.fjiantou4{
					right: 0;
					bottom: -110rpx;
					align-items: flex-start;
				}
			}
			.pos{
				margin-bottom: 30rpx;
			}
		}
	}
</style>
