<template>
	<view class="shakebg"  :class="{'femalebg':gender == 2,'malebg':gender == 1}">
		<view class="goback" style="width: 90rpx;height: 41rpx;" @click="goback">
			<image v-if="gender == 2" style="width: 90rpx;height: 41rpx;" src="https://iscgoldenweek.gypserver.com/dior/images/backf.png"></image>
			<image v-if="gender == 1" style="width: 90rpx;height: 41rpx;" src="https://iscgoldenweek.gypserver.com/dior/images/backm.png"></image>
		</view>
		<view class="main-box">
			<view class="border-1">
				<image  class="roate1" style="width: 1100rpx;height: 1000rpx" :src="IMGURL.border1" mode=""></image>
			</view>
			<view class="border-1">
				<image  class="roate2" style="width: 1100rpx;height: 1000rpx" :src="IMGURL.border2" mode=""></image>
			</view>
			<view class="border-1" v-if="gender == 2">
				<image class="roate" style="width: 1100rpx;height: 1000rpx" :src="IMGURL.border3" mode=""></image>
			</view>
			<view class="border-1" v-if="gender == 2">
				<image style="width: 1050rpx;height: 1050rpx" :src="IMGURL.flower" mode=""></image>
			</view>
			
			<view class="sucai1" v-if="gender == 1">
				<image style="width: 288rpx;height: 396rpx" :src="IMGURL.sucai1" mode=""></image>
			</view>
			<view class="sucai2" v-if="gender == 1">
				<image style="width: 582rpx;height: 958rpx" :src="IMGURL.sucai2" mode=""></image>
			</view>
			<view class="sucai3" v-if="gender == 1">
				<image style="width: 496rpx;height: 508rpx" :src="IMGURL.sucai3" mode=""></image>
			</view>
			<view class="sucai4" v-if="gender == 1">
				<image style="width: 115rpx;height: 160rpx" :src="IMGURL.sucai4" mode=""></image>
			</view>
			
			<view class="shakebottle">
				<image :class="{rockitm:gender == 1,rockit:gender == 2}" style="width: 423rpx;height: 594rpx" :src="IMGURL.shake" mode=""></image>
			</view>
			<view class="tips">
				<image style="width: 350rpx;height: 231rpx" :src="IMGURL.tips" mode=""></image>
			</view>
		</view>
	</view>
</template>

<script>
	import {modulatePerfume} from "../common/request.js"
	export default{
		data(){
			return{
				speed:0,
				xxx:"",
				gender:getApp().globalData.gender,
				IMGURL:getApp().globalData.IMGURL,
				isshake:false,
				issuccess:false
			}
		},
		mounted() {
			modulatePerfume(getApp().globalData.keyWords).then(res=>{
				if(res.message == "SUCCESS"){
					getApp().globalData.resultWords = res.data.resultWords.concat()
					getApp().globalData.perfumeCode = res.data.perfumeCode
					if(res.data.perfumeCode == "F1001"){
						//"迪奥小姐花漾淡香氛"
						getApp().globalData.IMGURL.rbg = 'https://iscgoldenweek.gypserver.com/dior/images/female/rfemalebg1.jpg'
					}else if(res.data.perfumeCode == "F1002"){
						//"迪奥小姐淡香水"
						getApp().globalData.IMGURL.rbg = 'https://iscgoldenweek.gypserver.com/dior/images/female/rfemalebg4.jpg'
					}else if(res.data.perfumeCode == "F1003"){
						//"迪奥小姐香氛"
						getApp().globalData.IMGURL.rbg = 'https://iscgoldenweek.gypserver.com/dior/images/female/rfemalebg2.jpg'
					}else if(res.data.perfumeCode == "F1004"){
						//"迪奥小姐漫舞花漾香氛"
						getApp().globalData.IMGURL.rbg = 'https://iscgoldenweek.gypserver.com/dior/images/female/rfemalebg3.jpg'
					}else if(res.data.perfumeCode == "M1001"){
						//"迪奥桀骜男士淡香氛"
						getApp().globalData.IMGURL.rbg = 'https://iscgoldenweek.gypserver.com/dior/images/male/rmalebg11.jpg'
					}else if(res.data.perfumeCode == "M1002"){
						//"迪奥桀骜男士运动淡香水"
						getApp().globalData.IMGURL.rbg = 'https://iscgoldenweek.gypserver.com/dior/images/male/rmalebg33.jpg'
					}else if(res.data.perfumeCode == "M1003"){
						//"迪奥桀骜男士古龙淡香水"
						getApp().globalData.IMGURL.rbg = 'https://iscgoldenweek.gypserver.com/dior/images/male/rmalebg22.jpg'
					}
					this.issuccess = true
				}
			})
			this.speed = 0
			var SHAKE_THRESHOLD = 1000;
			var last_update = 0;
			var x, y, z, last_x = 0, last_y = 0, last_z = 0;
			uni.onGyroscopeChange((res) => {
				
				var curTime = new Date().getTime();
				if ((curTime - last_update)> 10) {
					 var diffTime = curTime - last_update;
					 last_update = curTime;
					 x = res.x;
					 y = res.y;
					 z = res.z;
					 this.speed = Math.abs(x + y + z - last_x - last_y - last_z) / diffTime * 10000;
					 if (this.speed > SHAKE_THRESHOLD) {
						 this.isshake = true;  // Do something
						 uni.stopGyroscope()
						 
					 }
					 last_x = x;
					 last_y = y;
					 last_z = z;
				}
			});
			uni.startGyroscope({
				interval: "normal",
				success() {
					console.log('success')
				},
				fail() {
					console.log('fail')
				}
			})
		},
		methods:{
			goback(){
				uni.redirectTo({
					url:'/pages/choose/choose'
				})
			}
		},
		watch:{
			isshake(newVal){
				if(this.issuccess == true && newVal){
					uni.redirectTo({
						url:'/pages/result/result'
					})
				}
				
			},
			issuccess(newVal){
				if(this.isshake == true &&  newVal){
					uni.redirectTo({
						url:'/pages/result/result'
					})
				}
			}
		}
	}
</script>

<style lang="less">
	.femalebg{
		background: url(https://iscgoldenweek.gypserver.com/dior/images/female/femalebg.png) center no-repeat;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.malebg{
		background: url(https://iscgoldenweek.gypserver.com/dior/images/male/malebg.png) center no-repeat;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.shakebg{
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		.main-box{
			width: 100%;
			height: 1200rpx;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			position: relative;
			
			.sucai1{
				position: absolute;
				z-index: 1;
				left: -50rpx;
				top: -50rpx;
			}
			.sucai2{
				position: absolute;
				z-index: 1;
				top: -350rpx;
				right: -220rpx;
			}
			.sucai3{
				position: absolute;
				z-index: 1;
				left: -250rpx;
				bottom: 200rpx;
				transform: rotate(15deg);
			}
			.sucai4{
				position: absolute;
				z-index: 1;
				right: 50rpx;
				bottom: 280rpx;
			}
			.border-1{
				position: absolute;
				z-index: 1;
				left: 50%;
				transform: translate(-50%);
				top: -100rpx;
			}
			.tips{
				position: absolute;
				bottom: 0rpx;
			}
			.shakebottle{
				position: absolute;
				top: 150rpx;
				left: 50%;
				transform: translate(-50%);
				z-index: 2;
			}
		}
		
	}
</style>

