<template>
	<view class="prductbg">
		<text class="title">即刻解锁你最钟爱的香气</text>
		<view class="swiper-container" v-if="gender == 1">
			<swiper  @change="swiperChange" class="swiper-main" :current="current" vertical="true"  :indicator-dots="indicatorDots" :autoplay="autoplay"  >
				<swiper-item>
					<view class="swiper-item">
						<image v-if="perfumeCode == 'M1001'" @click="goout(6)" style="width: 581rpx;height: 367rpx;" :src="ALLIMGURL.male.mainproduct1" mode=""></image>
						<image v-if="perfumeCode == 'M1003'" @click="goout(7)" style="width: 581rpx;height: 367rpx;" :src="ALLIMGURL.male.mainproduct2" mode=""></image>
						<image v-if="perfumeCode == 'M1002'" @click="goout(8)" style="width: 581rpx;height: 367rpx;" :src="ALLIMGURL.male.mainproduct3" mode=""></image>
						<view class="item-container">
							<image v-if="perfumeCode != 'M1001'" @click="goout(6)" style="width: 262rpx;height: 298rpx;" :src="ALLIMGURL.male.item1" mode=""></image>
							<image v-if="perfumeCode != 'M1003'" @click="goout(7)" style="width: 262rpx;height: 298rpx;" :src="ALLIMGURL.male.item2" mode=""></image>
							<image v-if="perfumeCode != 'M1002'" @click="goout(8)" style="width: 262rpx;height: 298rpx;" :src="ALLIMGURL.male.item3" mode=""></image>
							<image @click="goout(9)" style="width: 262rpx;height: 298rpx;" :src="ALLIMGURL.male.item4" mode=""></image>
						</view>
					</view>
				</swiper-item>
				<swiper-item>
					<view class="swiper-item">
						<image  @click="goout(1)" style="width: 581rpx;height: 367rpx;" :src="ALLIMGURL.female.mainproduct1" mode=""></image>
						<view class="item-container">
							<image @click="goout(2)" style="width: 262rpx;height: 298rpx;" :src="ALLIMGURL.female.item2" mode=""></image>
							<image @click="goout(3)" style="width: 262rpx;height: 298rpx;" :src="ALLIMGURL.female.item3" mode=""></image>
							<image @click="goout(4)" style="width: 262rpx;height: 298rpx;" :src="ALLIMGURL.female.item4" mode=""></image>
							<image @click="goout(5)" style="width: 262rpx;height: 298rpx;" :src="ALLIMGURL.female.item5" mode=""></image>
						</view>
						
					</view>
				</swiper-item>
				
			</swiper>
			<view class="xiala" v-if="current == 0">
				下拉查看更多女士产品<br/>
				<image style="width: 108rpx;height: 15rpx;" src="https://iscgoldenweek.gypserver.com/dior/images/xialatips.png" mode=""></image>
			</view>
		</view>
		<view class="swiper-container" v-if="gender == 2">
			<swiper  @change="swiperChange" class="swiper-main" :current="current" vertical="true"  :indicator-dots="indicatorDots" :autoplay="autoplay"  >
				<swiper-item>
					<view class="swiper-item">
						<image v-if="perfumeCode == 'F1001'" @click="goout(1)" style="width: 581rpx;height: 367rpx;" :src="ALLIMGURL.female.mainproduct1" mode=""></image>
						<image v-if="perfumeCode == 'F1002'" @click="goout(4)" style="width: 581rpx;height: 367rpx;" :src="ALLIMGURL.female.mainproduct4" mode=""></image>
						<image v-if="perfumeCode == 'F1003'" @click="goout(2)" style="width: 581rpx;height: 367rpx;" :src="ALLIMGURL.female.mainproduct2" mode=""></image>
						<image v-if="perfumeCode == 'F1004'" @click="goout(3)" style="width: 581rpx;height: 367rpx;" :src="ALLIMGURL.female.mainproduct3" mode=""></image>
						<view class="item-container">
							<image v-if="perfumeCode != 'F1001'" @click="goout(1)" style="width: 262rpx;height: 298rpx;" :src="ALLIMGURL.female.item1" mode=""></image>
							<image v-if="perfumeCode != 'F1002'" @click="goout(4)" style="width: 262rpx;height: 298rpx;" :src="ALLIMGURL.female.item4" mode=""></image>
							<image v-if="perfumeCode != 'F1003'" @click="goout(2)" style="width: 262rpx;height: 298rpx;" :src="ALLIMGURL.female.item2" mode=""></image>
							<image v-if="perfumeCode != 'F1004'" @click="goout(3)" style="width: 262rpx;height: 298rpx;" :src="ALLIMGURL.female.item3" mode=""></image>
							<image @click="goout(5)" style="width: 262rpx;height: 298rpx;" :src="ALLIMGURL.female.item5" mode=""></image>
						</view>
					</view>
				</swiper-item>
				<swiper-item>
					<view class="swiper-item">
						<image @click="goout(6)" style="width: 581rpx;height: 367rpx;" :src="ALLIMGURL.male.mainproduct1" mode=""></image>
						<view class="item-container">
							<image @click="goout(7)" style="width: 262rpx;height: 298rpx;" :src="ALLIMGURL.male.item2" mode=""></image>
							<image @click="goout(8)" style="width: 262rpx;height: 298rpx;" :src="ALLIMGURL.male.item3" mode=""></image>
							<image @click="goout(9)" style="width: 262rpx;height: 298rpx;" :src="ALLIMGURL.male.item4" mode=""></image>
						</view>
					</view>
				</swiper-item>
				
			</swiper>
			<view class="xiala" v-if="current == 0">
				下拉查看更多男士产品<br/>
				<image style="width: 108rpx;height: 15rpx;" src="https://iscgoldenweek.gypserver.com/dior/images/xialatips.png" mode=""></image>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				indicator:false,
				autoplay:false,
				current:0,
				gender:getApp().globalData.gender,
				IMGURL:getApp().globalData.IMGURL,
				ALLIMGURL:getApp().globalData.ALLIMGURL,
				perfumeCode:getApp().globalData.perfumeCode
			}
		},
		methods:{
			swiperChange(e){
				 this.current = e.detail.current;
			},
			goout(type){
				if(type == 1){
					//迪奥花漾淡香氛
					wx.navigateToMiniProgram({
					  appId: 'wxc70df964e222a079',
					  path: 'pages/goodsDetails/goodsDetails?spu=Y0326210&child=F032622889&aid=nP2llpV9'
					})
				}else if(type == 2){
					//迪奥小姐香氛
					wx.navigateToMiniProgram({
					  appId: 'wxc70df964e222a079',
					  path: 'pages/goodsDetails/goodsDetails?spu=Y0082217&child=F008222719&aid=a9a77eMP'
					})
				}else if(type == 3){
					//迪奥小姐漫舞花漾香氛
					wx.navigateToMiniProgram({
					  appId: 'wxc70df964e222a079',
					  path: 'pages/goodsDetails/goodsDetails?spu=Y0782210&child=F078222009&aid=xRxaajkP'
					})
				}else if(type == 4){
					//迪奥小姐淡香水
					wx.navigateToMiniProgram({
					  appId: 'wxc70df964e222a079',
					  path: 'pages/goodsDetails/goodsDetails?spu=Y0996154&child=C099600154&aid=j9y66jyR'
					})
				}else if(type == 5){
					//迪奥小姐香体乳
					wx.navigateToMiniProgram({
					  appId: 'wxc70df964e222a079',
					  path: 'pages/goodsDetails/goodsDetails?spu=Y0008070&child=F000807000&aid=4PYBBg5o'
					})
				}else if(type == 6){
					//迪奥桀骜男士淡香氛
					
				}else if(type == 7){
					//迪奥桀骜男士古龙淡香水
					wx.navigateToMiniProgram({
					  appId: 'wxc70df964e222a079',
					  path: 'pages/goodsDetails/goodsDetails?spu=Y9190300&child=F091903009&aid=nRbjjplR'
					})
				}else if(type == 8){
					//迪奥桀骜男士运动淡香水
					wx.navigateToMiniProgram({
					  appId: 'wxc70df964e222a079',
					  path: 'pages/goodsDetails/goodsDetails?spu=Y0689227&child=F068922709&aid=woVLL22R'
					})
				}else if(type == 9){
					//迪奥桀骜男士沐浴露
					
				}
			}
		}
	}
</script>

<style scoped lang="less">
	.swiper-item{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding-top: 20rpx;
		box-sizing: border-box;
		.item-container{
			width: 581rpx;
			height: 620rpx;
			// margin-top: 25rpx;
			display: flex;
			flex-wrap: wrap;
			justify-content:space-between;
			image{
				margin-top: 20rpx;
			}
		}
	}
	.prductbg{
		width: 100%;
		height: 100vh;
		background: #ffffff;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		.title{
			margin-bottom: 20rpx;
			font-size: 36rpx;
		}
		.swiper-container{
			width: 100%;
			height:1140rpx;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			position: relative;
			.swiper-main{
				width: 100%;
				height:1040rpx;
				border-top: 4rpx solid #000000;
				border-bottom: 4rpx solid #000000;
				box-sizing: border-box;
				
			}
			.xiala{
				position: absolute;
				bottom: -20rpx;
				width: 100%;
				height: 60rpx;
				font-size: 20rpx;
				font-weight: 800;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				flex-direction: column;
				image{
					margin-top: 20rpx;
				}
				
			}
		}
		
	}
</style>
