<template>
	 <!-- :style="{paddingTop:statusBarHeight + 'px'}" -->
	<view class="homebg" >
		<view class="backv">
			点击此处 返回观看视频
			<image style="width: 27rpx;height: 30rpx;margin-left: 10rpx;" src="https://iscgoldenweek.gypserver.com/dior/images/home/backvi.png" mode="widthFix"></image>
		</view>
		<view @click="gochoose(2)" class="btn pos">邂逅MISS DIOR</view>
		<view @click="gochoose(1)" class="btn pos1">遇见DIOR HOMME</view>
	</view>
</template>

<script>
	export default {
		data(){
			return{
				statusBarHeight:getApp().globalData.statusBarHeight
			}
		},
		onReady() {
			
		},
		onLoad() {
			
		},
		methods:{
			gochoose(gender){
				getApp().globalData.gender = gender
				if(gender  == 1){
					getApp().globalData.IMGURL = JSON.parse(JSON.stringify(getApp().globalData.ALLIMGURL.male))
					uni.redirectTo({
						url: '/pages/choose/choose'
					});
				}else{
					getApp().globalData.IMGURL = JSON.parse(JSON.stringify(getApp().globalData.ALLIMGURL.female))
					uni.redirectTo({
						url: '/pages/choose/choose'
					});
				}
				
			}
		}
	}
</script>

<style lang="scss">
	.homebg{
		width: 100%;
		height: 100vh;
		box-sizing: border-box;
		overflow: hidden;
		background: url(https://iscgoldenweek.gypserver.com/dior/images/home/homebg.jpg) center no-repeat;
		background-size: cover;
	}
	.pos{
		position: absolute;
		bottom: 120rpx;
		left: 50%;
		transform: translate(-50%);
	}
	.pos1{
		position: absolute;
		bottom: 30rpx;
		left: 50%;
		transform: translate(-50%);
	}
	
</style>
