<template>
	<view class="choosebg">
		<view class="BG"  :class="{'femalebg':gender == 2,'malebg':gender == 1}">
			<view class="goback" style="width: 90rpx;height: 41rpx;" @click="goback">
				<image v-if="gender == 2" style="width: 90rpx;height: 41rpx;" src="https://iscgoldenweek.gypserver.com/dior/images/backf.png"></image>
				<image v-if="gender == 1" style="width: 90rpx;height: 41rpx;" src="https://iscgoldenweek.gypserver.com/dior/images/backm.png"></image>
			</view>
			
			<image style="width: 466rpx;height: 134rpx;" :src="IMGURL.DIOR" mode=""></image>
			<view class="font">
				<p :class="{'c-black':gender == 2,'c-white':gender == 1}">拖动选择<br/>你喜爱的原料和属性<br/>调制你的专属香气</p>
			</view>
			<view class="main-container">
				 <movable-area v-if="gender == 2 && isfresh" @touchend="touchend"  id="main-container" class="main-container">
					<movable-view v-for="(k,index) in keyWord" :key='index' @change="touchmove($event,index)" :class="{'demo1':index == 0,'demo2':index == 1,'demo3':index == 2,'demo4':index == 3,'demo5':index == 4,'demo6':index == 5,'demo7':index == 6,}" class="demo" direction="all">
						<view class="demob" :class="{'scaleMin':!k.isshow}">
							<image v-if="index == 0" style="width: 150rpx;height: 150rpx;" :src="IMGURL.demo1" mode=""></image>
							<image v-if="index == 1" style="width: 150rpx;height: 150rpx;" :src="IMGURL.demo2" mode=""></image>
							<image v-if="index == 2" style="width: 150rpx;height: 150rpx;" :src="IMGURL.demo3" mode=""></image>
							<image v-if="index == 3" style="width: 150rpx;height: 150rpx;" :src="IMGURL.demo4" mode=""></image>
							<image v-if="index == 4" style="width: 150rpx;height: 150rpx;" :src="IMGURL.demo5" mode=""></image>
							<image v-if="index == 5" style="width: 150rpx;height: 150rpx;" :src="IMGURL.demo6" mode=""></image>
							<image v-if="index == 6" style="width: 150rpx;height: 150rpx;" :src="IMGURL.demo7" mode=""></image>
							<text  style="color: #FFFFFF;">{{k.Words}}</text>
						</view>
		
					</movable-view>
					
					<!-- <movable-view  @change="touchmove" class="demo  demo2" direction="all">
						<image style="width: 150rpx;height: 150rpx;" :src="IMGURL.demo2" mode=""></image>
					</movable-view>
					<movable-view  @change="touchmove" class="demo  demo3" direction="all">
						<image style="width: 150rpx;height: 150rpx;" :src="IMGURL.demo3" mode=""></image>
					</movable-view>
					<movable-view  @change="touchmove" class="demo  demo4" direction="all">
						<image style="width: 150rpx;height: 150rpx;" :src="IMGURL.demo4" mode=""></image>
					</movable-view>
					<movable-view  @change="touchmove" class="demo  demo5" direction="all">
						<image style="width: 150rpx;height: 150rpx;" :src="IMGURL.demo5" mode=""></image>
					</movable-view>
					<movable-view  @change="touchmove" class="demo  demo6" direction="all">
						<image style="width: 150rpx;height: 150rpx;" :src="IMGURL.demo6" mode=""></image>
					</movable-view>
					<movable-view  @change="touchmove" class="demo  demo7" direction="all">
						<image style="width: 150rpx;height: 150rpx;" :src="IMGURL.demo7" mode=""></image>
					</movable-view> -->
					
					<view id="bottle" class="mbottle">
						<image  style="width: 223rpx;height: 343rpx;" :src="IMGURL.bottle" mode=""></image>
					</view>
					<view class="probox" style="bottom: 250rpx;">
						<view class="probg">
							<view class="pro bg-pink" :style="{width:proce}"></view>
						</view>
						<text class="c-black f-40">{{proce}}</text>
					</view>
					<view class="border-1">
						<image  class="roate1" style="width: 800rpx;height: 700rpx" :src="IMGURL.border1" mode=""></image>
					</view>
					<view class="border-1">
						<image  class="roate2" style="width: 800rpx;height: 700rpx" :src="IMGURL.border2" mode=""></image>
					</view>
					<view class="border-1">
						<image class="roate" style="width: 800rpx;height: 700rpx" :src="IMGURL.border3" mode=""></image>
					</view>
					<view class="border-1">
						<image style="width: 750rpx;height: 750rpx" :src="IMGURL.flower" mode=""></image>
					</view>
					<view class="drag">
						<image style="width: 127rpx;height: 127rpx" :src="IMGURL.drag" mode=""></image>
					</view>
					<view class="hyh" @click="refresh">
						<image style="width: 118rpx;height: 31rpx" :src="IMGURL.hyh" mode=""></image>
					</view>
				</movable-area> 
				<movable-area v-if="gender == 1 && isfresh" @touchend="touchend"  id="main-container" class="main-container">
					
					<movable-view v-for="(k,index) in keyWord" :key='index' @change="touchmove($event,index)" :class="{'mdemo1':index == 0,'mdemo2':index == 1,'mdemo3':index == 2,'mdemo4':index == 3,'mdemo5':index == 4,'mdemo6':index == 5,'mdemo7':index == 6,}" class="demo" direction="all">
						<view class="demob" :class="{'scaleMin':!k.isshow}">
							<image v-if="index == 0" style="width: 150rpx;height: 150rpx;" :src="IMGURL.demo1" mode=""></image>
							<image v-if="index == 1" style="width: 150rpx;height: 150rpx;" :src="IMGURL.demo2" mode=""></image>
							<image v-if="index == 2" style="width: 150rpx;height: 150rpx;" :src="IMGURL.demo3" mode=""></image>
							<image v-if="index == 3" style="width: 150rpx;height: 150rpx;" :src="IMGURL.demo4" mode=""></image>
							<image v-if="index == 4" style="width: 150rpx;height: 150rpx;" :src="IMGURL.demo5" mode=""></image>
							<image v-if="index == 5" style="width: 150rpx;height: 150rpx;" :src="IMGURL.demo6" mode=""></image>
							<image v-if="index == 6" style="width: 150rpx;height: 150rpx;" :src="IMGURL.demo7" mode=""></image>
							<text style="color: #000000;">{{k.Words}}</text>
						</view>
					</movable-view>
					
					<view id="bottle" class="bottle">
						<image  style="width: 184rpx;height: 366rpx;" :src="IMGURL.bottle" mode=""></image>
					</view>
					<view class="probox">
						<view class="probg">
							<view class="pro bg-golden" :style="{width:proce}"></view>
						</view>
						<text class="c-white  f-25">{{proce}}</text>
					</view>
					
					<view class="border-1">
						<image class="roate1" style="width: 760rpx;height: 700rpx" :src="IMGURL.border1" mode=""></image>
					</view>
					<view class="border-1">
						<image class="roate1" style="width: 760rpx;height: 700rpx" :src="IMGURL.border2" mode=""></image>
					</view>
					<view class="sucai1">
						<image style="width: 192rpx;height: 264rpx" :src="IMGURL.sucai1" mode=""></image>
					</view>
					<view class="sucai3">
						<image style="width: 248rpx;height: 254rpx" :src="IMGURL.sucai3" mode=""></image>
					</view>
					<view class="drag">
						<image style="width: 127rpx;height: 127rpx" :src="IMGURL.drag" mode=""></image>
					</view>
					<view class="hyh"  @click="refresh">
						<image style="width: 118rpx;height: 31rpx" :src="IMGURL.hyh" mode=""></image>
					</view>
				</movable-area>
			</view>
			  
	
			 <view v-if="gender == 1" class="sucai2">
			 	<image style="width: 291rpx;height: 479rpx" :src="IMGURL.sucai2" mode=""></image>
			 </view>
			 
			<!-- <view class="main-container">
				<view class="demo1" @touchmove="touchmove">
					<image style="width: 150rpx;height: 150rpx;" :src="IMGURL.demo1" mode=""></image>
				</view>
				<view class="bottle">
					<image style="width: 223rpx;height: 343rpx;" :src="IMGURL.bottle" mode=""></image>
				</view>
			</view> -->
		</view>
	</view>
</template>

<script>
	import {drawWords} from "../common/request.js"
	
	export default{
		data(){
			return{
				gender:getApp().globalData.gender,
				IMGURL:getApp().globalData.IMGURL,
				x:0,
				y:0,
				isfresh:true,
				keyWord:[],
				currentI:-1,
				pro:0,
				proce:'0%',
				pushKeys:[]
			}
		},
		onLoad() {
			//F女 M男
			
			this.getKeyWords()
			
			let maincontainer = uni.createSelectorQuery().select("#main-container");
			let bottle = uni.createSelectorQuery().select("#bottle");
			maincontainer.boundingClientRect((res)=>{
				// console.log(res)
				this.MT = res.top
				this.ML = res.left
				this.MW = res.width
				this.MH = res.height
			}).exec(()=>{
				bottle.boundingClientRect((data)=> {
			　　　  　//console.log(data)  // 获取元素宽度
					this.BT = data.top
					this.BL = data.left
					this.BW = data.width
					this.BH = data.height
			　　    }).exec(()=>{
						this.minT = this.BT - this.MT //香水瓶顶部距可拖拽区域的距离
						this.maxT = this.BH + this.minT 
						
						this.minL = this.BL
						this.maxL = this.BL + this.BW
						
						this.centerX = this.BL + this.BW/2 - 75
						this.centerY = this.minT + this.BH/2 - 75
				   })
			})
	　　　  　
		},
		methods:{
			touchmove(e,index){
				
				this.currentX = e.target.offsetLeft + e.detail.x
				this.currentY = e.target.offsetTop + e.detail.y
				// if((this.currentY + 75 > this.minT && this.currentY < this.maxT) && (this.currentX + 75 > this.minL && this.currentX < this.maxL)){
				// 	console.log('碰到了')
					
				// }
				if((this.currentY + 30 > this.minT && this.currentY < this.maxT - 30) && (this.currentX + 30  > this.minL && this.currentX < this.maxL - 30)){
					// console.log('碰到了')
					this.keyWord[index].isshow = false
				
					if(index != this.currentI){
						this.checkPro(index)
					}
					this.currentI = index
				}
			},
			touchend(){
				
				// this.x = this.centerX
				// this.y = this.centerY
			},
			getKeyWords(){
				let gender = ''
				if(getApp().globalData.gender == 1){
					gender = "M"
				}else{
					gender = "F"
				}
				drawWords(gender).then(res=>{
					this.isfresh = true
					this.keyWord = res.data.concat()
					this.keyWord.forEach(item=>{
						item.isshow = true
					})	
				})
			},
			refresh(){
				this.isfresh = false
				this.pro = 0
				this.proce = '0%'
				this.pushKeys.length = 0
				this.getKeyWords()
				// setTimeout(res=>{
				// 	this.isfresh = true
				// },500)
			},
			checkPro(index){
				this.pro ++	
				let obj = new Object()
				this.proce = this.pro/4 * 100 + '%'
				obj.words = this.keyWord[index].Words
				obj.perfumeCode = this.keyWord[index].Perfunme
				this.pushKeys.push(obj)
				// console.log(this.pushKeys)
				if(this.pro == 4){
				getApp().globalData.keyWords = this.pushKeys.concat()
				setTimeout(()=>{
					uni.redirectTo({
						url:'/pages/shake/shake'
					})
				})
				}
			},
			goback(){
				uni.redirectTo({
					url:'/pages/home/home'
				})
			}
		}
	}
</script>

<style scoped lang="less">
	.demob{
		width: 100%;
		height: 100%;
		position: relative;
		text{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			width: 100%;
			text-align: center;

		}
	}
	.probox{
		width:200rpx;
		height: 80rpx;
		position: absolute;
		left: 50%;
		bottom: 220rpx;
		transform: translate(-50%);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size:40rpx ;
		.probg{
			width: 200rpx;
			height: 8rpx;
			background: #FFFFFF;
			border-radius:8rpx;
			position: relative;
			.pro{
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				width: 10%;
				border-radius:8rpx;
				background: #d6a651;
			}
		}
		
	}
	.drag{
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%);
	}
	.hyh{
		position: absolute;
		bottom: 0;
		left: 50rpx;
	}
	
	.demo{
		position: absolute;
		width: 150rpx;
		height: 150rpx;
		z-index: 6;
	}
	.border-1{
		position: absolute;
		z-index: 1;
		left: 50%;
		transform: translate(-50%);
		top: 30rpx;
	}
	.sucai1{
		position: absolute;
		z-index: 1;
		top: 400rpx;
		right: 10rpx;
	}
	.sucai2{
		position: absolute;
		z-index: 1;
		top:240rpx;
		right: -130rpx;
	}
	.sucai3{
		position: absolute;
		z-index: 1;
		top: 430rpx;
		left: -70rpx;
	}
	.demo1{
		top: 600rpx;
		left: 400rpx;
	}
	.demo2{
		top: 550rpx;
		left: 60rpx;
	}
	.demo3{
		top: 260rpx;
		left: 10rpx;
	}
	.demo4{
		top: 30rpx;
		left: 560rpx;
	}
	.demo5{
		top: 20rpx;
		left: 300rpx;
	}
	.demo6{
		top: 70rpx;
		left: 70rpx;
	}
	.demo7{
		top: 350rpx;
		left: 600rpx;
	}
	.mdemo1{
		top: 640rpx;
		left: 480rpx;
	}
	.mdemo2{
		top: 660rpx;
		left: 60rpx;
	}
	.mdemo3{
		top: 300rpx;
		left: 0rpx;
	}
	.mdemo4{
		top: 80rpx;
		left: 480rpx;
	}
	.mdemo5{
		top: 5rpx;
		left: 300rpx;
	}
	.mdemo6{
		top: 70rpx;
		left: 40rpx;
	}
	.mdemo7{
		top: 240rpx;
		left: 600rpx;
	}
	.choosebg{
		width: 100%;
		height: 100vh;
		overflow: hidden;
		.femalebg{
			background: url(https://iscgoldenweek.gypserver.com/dior/images/female/femalebg.png) center no-repeat;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
		.malebg{
			background: url(https://iscgoldenweek.gypserver.com/dior/images/male/malebg.png) center no-repeat;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
		.BG{
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			.main-container{
				width: 100%;
				height: 870rpx;
				position: relative;
				overflow: hidden;
				.bottle{
					position: absolute;
					top:200rpx;
					left: 50%;
					transform: translate(-50%);
					z-index: 1;
				}
				.mbottle{
					position: absolute;
					top:200rpx;
					left: 50%;
					transform: translate(-50%);
					z-index: 1;
				}
			}
		}
		.malebg{
			width: 100%;
			height: 100%;
			// background: url(https://iscgoldenweek.gypserver.com/dior/images/male/malebg.png) center no-repeat;
			// background-size: cover;
		}
	}
</style>
